@CHARSET "ISO-8859-1";

#all
{
	width:1000px;
	height:auto;
	border:2px solid black;
	margin:0 auto;
}

#questionindex
{
	float:left;
	height:inherit;
	width:150px;
	background-color:red;
	margin-left:10px;
	margin-right:10px;
	border: 3px ridge ghostwhite;
}

#questions
{
	float:right;
	height:inherit;
	width:750px;
	background-color:blue;
	margin-left:10px;
	margin-right:10px;
}
