@CHARSET "ISO-8859-1";

#all
{
	width:1000px;
	height:auto;
/* 	border:2px solid black; */
	margin:0 auto;
}

#questionindex
{
	float:left;
	width:150px;
	height:100vh;
	background-color:red;
	margin-left:10px;
	margin-right:10px;
/* 	border: 3px ridge ghostwhite; */
}

#questions
{
	float:right;
	height:inherit;
	width:750px;
	background-color:blue;
	margin-left:10px;
	margin-right:10px;
}

#qlinktable
{
	margin:0 auto;
}

.qlinkrow
{
	width:100px;
	height:9vh;
	margin:3px;
}

.qlinkcell
{
	width:4vw;
	border:2px solid blue;
	margin:10px;
}