@CHARSET "ISO-8859-1";

#all
{
	width:1000px;
	height:auto;
/* 	border:2px solid black; */
	margin:0 auto;
}

#questionindex
{
	float:left;
	width:150px;
	height:100vh;
	background-color:red;
	margin-left:10px;
/* 	margin-right:10px; */
/* 	border: 3px ridge ghostwhite; */
}

#questions
{
	float:right;
	height:inherit;
	width:820px;
	background-color:blue;
	margin-left:10px;
	margin-right:10px;
}

#qlinktable
{
	margin:0 auto;
}

.qlinkrow
{
	width:95px;
	height:9vh;
/* 	margin:3px; */
}

.qlinkcell
{
	width:4vw;
	border:2px solid blue;
/* 	margin:10px; */
	font-family:"Segoe UI";
	font-size:30px;
}

.qnumber
{
	margin-left:12px;
	display:block;
	font-weight:bold;
}

.onequestion
{
	height:95vh;
	width:800px;
	background-color:yellow;
	margin-right:10px;
	margin-left:10px;
}

.questioncontent
{
	width:750px;
	height:30vh;
	background-color:red;
	margin:0 auto;
}

.answercontent
{
	width:750px;
	height:60vh;
	background-color:blue;
	margin:0 auto;
}

#answers tr td
{
	border:2px solid green;
	height:inherit;
	width:300px;
	padding-left:20px;
}

#answers tr
{
	height:7vh;
	width:750px;
}